body
    display: flex
    flex-direction: column
    min-height: 100vh
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
    color: var(--text-color)
    background: var(--bg-color)

main
    padding-top: 20px
    flex: 1

$container-width: 1280px
$container-margin: 10px

.container
    max-width: $container-width
    margin: 0 auto

    &.content
        margin: 0 $container-margin
        @media (min-width: ($container-width + 2 * $container-margin))
            margin: 0 auto

        > h1:first-child, > h2:first-child, > p:first-child
            margin-top: 0.25rem
            margin-bottom: 0.75rem

.before-content, .after-content
    background-color: var(--panel-color)
