:root
    // --text-color: #aaaaaa
    --bg-color: #000033
    --text-color: #e6e6e6
    --bg-color-two: #{lighten(#000033, 4%)}
    --bg-color-three: #{lighten(#000033, 8%)}
    --accent-color: #ffce00
    --panel-color: #F5F5F5
    --panel-color-two: #EBEBEB
    --panel-color-three: #E0E0E0
